* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-image: url('cv 2.jfif');
    animation: fadeIn 2s ease-in-out;
    font-family: Arial sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}/* Add this to styles.css */

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

header {
    animation: slideIn 1s ease-out;
}



header {
    text-align: center;
    padding-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    background-color: rgb(52, 199, 199);
}

section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(230, 229, 229, 0.801);

}

button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #413d3d;
    transform: scale(1.1);
}


